<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Urna.Dominio.Teste.Properties.Settings.Setting" connectionString="Data Source=ERIC\SQLEXPRESS;Initial Catalog=Urna_local;User ID=sa;Password=eric"
            providerName="System.Data.SqlClient" />
        <!--<add name="Urna.Dominio.Teste.Properties.Settings.Setting" connectionString="Server=BRUNONOTE\BRUNOVERCH;Database=Urna_local;User Id=sa;Password=Crescer$5;"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
</configuration>